.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 13rem 0 2rem 0;
    position: relative;
}

.hello {
    font-size: 1.5rem;
    color: var(--zinc-500);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: -20px;
    margin-left: 2px;
}

.hand {
    font-size: 2rem;
}

.hello small {
    font-size: 2.5rem;
}

.home h1 {
    font-size: 5rem;
    line-height: 5.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.apresentation {
    max-width: 60rem;
    font-size: 1.7rem;
    padding-left: 2px;
    color: var(--zinc-500);
}

.information {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.datas {
    display: flex;
    gap: 2rem;
}

.data {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 0 3px;
}

.circle {
    width: 8px;
    height: 8px;
    background-color: rgb(50, 162, 50);
    border-radius: 50%;
    animation: shadow-pulse 1.5s infinite; /* Animação de pulsar */
    margin-left: 2.5px;
    margin-right: 7px;
}

.data p {
    font-size: 1.6rem;
}

.location {
    font-size: 20px;
    color: red;
    margin-left: -3px;
}

.buttons {
    width: 100%;
    max-width: 60rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
    margin-left: 2px;
}

.buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    gap: 1rem;
    border: 1px solid white;
    border-radius: 25px;
    background-color: transparent;
    color: var(--zinc-50);
    font-size: 1.7rem;
}


.curriculum {
    color: var(--zinc-950);
}

.arrow {
    font-size: 2.5rem;
}

.buttons button:last-child {
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: 500;
    border: 1px solid var(--zinc-500);
}

.wallpaper {
    width: 35rem;
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

@media (max-width: 935px) {
    .wallpaper {
        display: none;
    }
}



@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0px 1px rgba(0, 255, 0, 0);
    }
    50% {
        box-shadow: 0 0 0px 4px rgba(73, 180, 73, 0.478);
    }
    100% {
        box-shadow: 0 0 0px 1px rgba(0, 255, 0, 0);
    }
}

@media (max-width: 640px) {
    .home h1 {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    .buttons button {
        padding: 0.7rem 5rem;
    }
}


@media (max-width: 478px) {
    .buttons button {
        padding: 0.7rem 4rem;
    }
}


