@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osh-font-smoothing: grayscale;
}

.color {
    background-color: #6894ceab;
}

:root {
    --zinc-950: #09090b;
    --zinc-900: #18181b;
    --zinc-800: #27272a;
    --zinc-700: #3f3f46;
    --zinc-500: #71717a;
    --zinc-50: #fafafa;
    --gray-500: #6b7280;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


body {
    color: var(--zinc-50);
    background-color: var(--zinc-950);
}

main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

img {
    width: 100%;
}

section, footer, header {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 2rem;
}

section {
    padding-top: 6rem;
}

section h2 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'MinhaFonte', sans-serif;
}

h1 {
    font-family: 'MinhaFonte', sans-serif;
}

@font-face {
    font-family: 'MinhaFonte';
    src: url('../assets/fonts/Geist-Regular.ttf');
  }

@media (max-width: 550px) {
    html {
        font-size: 60%;
    }  
}