.header {
    width: 100%;
    max-width: 1040px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem 15px;
    z-index: 200;
    background-color: #09090bd0;
    backdrop-filter: blur(16px);
}

.logo {
    font-weight: 800;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border: 2px solid white;
    padding: 2px;
}

.logo img{
    width: 100%;
}


.navigation {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navigation nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navigation nav ul li a {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: var(--zinc-50);
}

.headerRight {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.links {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 4px;
}

.linkedin {
    font-size: 30px;
    color: var(--gray-500);
    padding: 3px;
    border-radius: 6px;
    cursor: pointer;
}

.github {
    font-size: 30px;
    color: var(--gray-500);
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    transition: .5s ease;
}

.linkedin:hover, .github:hover {
    background-color: var(--zinc-900);
}

.menuMobile {
    width: 30px;
    height: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 3px;
    font-size: 2.3rem;
    color: var(--gray-50);
    background-color: var(--zinc-900);
    border-radius: 3px;
    margin-top: -5px;
    margin-left: 2rem;
    position: relative;
}

.menuMobile::before {
    content: "";
    width: 1px;
    height: 20px;
    background-color: var(--zinc-700);
    position: absolute;
    left: -14px;
}


@media (max-width: 782px) {
    .navigation nav ul {
        display: none;
    }

    .menuMobile {
        display: flex;
    }
}

