.menuMobile {
    width: 30px;
    height: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 3px;
    font-size: 2.3rem;
    color: var(--gray-50);
    background-color: var(--zinc-900);
    border-radius: 3px;
    margin-top: -5px;
    margin-left: 2rem;
    position: relative;
}

.menuMobile::before {
    content: "";
    width: 1px;
    height: 20px;
    background-color: var(--zinc-700);
    position: absolute;
    left: -14px;
}

